// -----------------------------------------------------------------------------
//! Fonts
// -----------------------------------------------------------------------------
$font: 'mochain', Georgia, Times, Serif;
$font-sans: 'Inclusive Sans', Arial, Helvetica, Sans-serif; 

// -----------------------------------------------------------------------------
//! Colors
// -----------------------------------------------------------------------------

$color-body: #15141A;
$color-light: #eeede9;
//$color-red: #F97068;
$color-red: #af4d49; 

// -----------------------------------------------------------------------------
//! Z-indexes
// -----------------------------------------------------------------------------

$z_index-level6: 120;
$z_index-level5: 100;
$z_index-level4: 75;
$z_index-level3: 50;
$z_index-level2: 25;
$z_index-level1: 1;
$z_index-level0: -1;

// -----------------------------------------------------------------------------
//! Breakpoints
// -----------------------------------------------------------------------------

$bp-padding: 1024px;
